@import "~tachyons-sass/tachyons.scss";

.album-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;

    .album {
    	cursor: pointer;
    	border: 1px black solid;
    	border-radius: 0.5em;
    	padding: 1em;
	}
}